<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../src/styles.css" />
    <link rel="stylesheet" href="../src/sublanding.css" />
</head>
<body>
    <div id="sublanding" class="container-fluid main">
        <div class="nav">
            <img class="img-fluid" alt="alight logo" src="../src/images/alight.png" />
        </div>
        <div class="pt-3 mx-5">
            <div class="content mb-3 container-fluid">
                <div class='row squares'>
                    <a href="./professionalServices/proServOverview.html" class="col-4 square">
                        <div class='square-item'>
                            <img src="../src/images/CloudGear-lg.png" width="146"/>
                        </div>
                        <h2>ProServ Overview</h2>
                    </a>
                    <a href="./professionalServices/amsaas.html" class="col-4 square">
                        <div class='square-item'>
                            <img src="../src/images/CloudGear-lg.png" width="146"/>
                        </div>
                        <h2>AMSaaS</h2>
                    </a>
                    <a href="./professionalServices/deploymentaccelerator.html" class="col-4 square">
                        <div class='square-item'>
                            <img src="../src/images/CloudGear-lg.png" width="146"/>
                        </div>
                        <h2>Deployment accelerator</h2>
                    </a>
                    <div class="offset-2"></div>
                    <a href="./professionalServices/diagnostics.html" class="col-4 square">
                        <div class='square-item'>
                            <img src="../src/images/CloudGear-lg.png" width="146"/>
                        </div>
                        <h2>Diagnostics</h2>
                    </a>
                    <a href="./professionalServices/proservtestimonial.html" class="col-4 square">
                        <div class='square-item'>
                            <img src="../src/images/CloudGear-lg.png" width="146"/>
                        </div>
                        <h2>ProServ customer testimonial</h2>
                    </a>
                </div>

            </div>
        </div>
            <div class="footer">
                <div class="bottom">
                    <div class="link-row container">
                        <a href="./index.html" class="square">
                            <img class="img-fluid" src="../src/images/Home.png" height="56" width="62"/>
                        </a>
                        <a href="./slider.html" class="square">
                            <img class="img-fluid" src="../src/images/TeamDependents.png" height="60" width="70"/>
                        </a>
                        <a href="./health-cloud-solutions.html" class="square">
                            <img class="img-fluid" src="../src/images/Health.png" height="49" width="60"/>
                        </a>
                        <a href="./wealth-cloud-solutions.html" class="square">
                            <img class="img-fluid" src="../src/images/MoneyCost.png" height="64" width="49"/>
                        </a>
                        <a href="#" class="square">
                            <img class="img-fluid" src="../src/images/Payroll.png" height="55" width="60"/>
                        </a>
                        <a href="#" class="square">
                            <img class="img-fluid" src="../src/images/CloudGear.png" height="54" width="60"/>
                        </a>
                        <a href="#" class="square">
                            <img class="img-fluid" src="../src/images/Benefits.png" height="53" width="60"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</body>
<script type="text/javascript" src="../src/dist/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../src/dist/js/bootstrap.bundle.min.js"></script>

</html>