<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../src/styles.css" />
    <link rel="stylesheet" href="../src/sublanding.css" />
</head>
<body>
    <div id="sublanding" class="container-fluid main main-sublanding">
        <div class="nav">
            <img class="img-fluid" alt="alight logo" src="../src/images/alight.png" />
        </div>
        <div id="solutionsDemonstrations" class="pt-3 mx-5">
            <div class="content mb-3 container-fluid">
                <div class='row squares'>
                    <a href="https://framer.com/share/Growing-Family--nHOmX3hctvySeW4v0rUE/vhBfRPlij" class="col-3 square" target="growingfamily">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Growing Family</h2>
                    </a>
                    <a href="https://framer.com/share/Routine-Care-Preventative-Health--kELTTUOdIX1nOoLihaMX/aEYiEqoDk" class="col-3 square" target="routinecare">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Routine Care/Preventive Health</h2>
                    </a>
                    <a href="https://framer.com/share/Chronic-Care--mQmJVlmkMRxH7HIfpDpg/gOX3bd9MQ" class="col-3 square" target="chroniccondition">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Managing a Chronic Condition</h2>
                    </a>
                    <a href="https://framer.com/share/Pay-Increase--9b0NEnj4JG5EuSSXNDKm/NyTifOK5L" class="col-3 square" target="payincrease">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Pay Increase</h2>
                    </a>
                    <a href="https://framer.com/share/HR-Professional--wOr4s2sPUOtJAMIYSSwB/dGpUoE_N5?fullscreen=1" class="col-3 square" target="hrprofessional">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>HR Professional</h2>
                    </a>
                    <a href="https://framer.com/share/Vaccine-Verify--bjB6N7pm6QeK2lRfpvgY/dep_kHqLl?highlights=0" class="col-3 square" target="alightverify">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Alight Verify </h2>
                    </a>
                    <a href="https://framer.com/share/HR-Tech-Virtual-Benefits-Fair--8NW530muu8sUdphCpeYF/FKoC501aa?fullscreen=1&highlights=0#IiR0OtcyF" class="col-3 square" target="virtual">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>Virtual Employee Events</h2>
                    </a>
                    <a href="https://framer.com/share/In-The-Lab--dc3fBq5rGba9v5i02Bdd/XjHbG6s9G" class="col-3 square" target="inthelab">
                        <div class='square-item'>
                            <img src="../src/images/Benefits-lg.png" width="146"/>
                        </div>
                        <h2>In the Lab</h2>
                    </a>
                </div>

            </div>
        </div>
            <div class="footer">
                <div class="bottom">
                    <div class="link-row container">
                        <a href="./index.html" class="square">
                            <img class="img-fluid" src="../src/images/Home.png" height="56" width="62"/>
                        </a>
                        <a href="./slider.html" class="square">
                            <img class="img-fluid" src="../src/images/TeamDependents.png" height="60" width="70"/>
                        </a>
                        <a href="./health-cloud-solutions.html" class="square">
                            <img class="img-fluid" src="../src/images/Health.png" height="49" width="60"/>
                        </a>
                        <a href="./wealth-cloud-solutions.html" class="square">
                            <img class="img-fluid" src="../src/images/MoneyCost.png" height="64" width="60"/>
                        </a>
                        <a href="./payrollCloud.html" class="square">
                            <img class="img-fluid" src="../src/images/Payroll.png" height="55" width="60"/>
                        </a>
                        <a href="./professionalServices.html" class="square">
                            <img class="img-fluid" src="../src/images/CloudGear.png" height="54" width="60"/>
                        </a>
                        <a href="./solutionsDemonstrations.html" class="square">
                            <img class="img-fluid" src="../src/images/Benefits-Yellow.png" height="53" width="60"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

</body>
<script type="text/javascript" src="../src/dist/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../src/dist/js/bootstrap.bundle.min.js"></script>

</html>