<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../src/styles.css" />
    <link rel="stylesheet" href="../../src/video.css" />
</head>

<body>
    <div id="video" class="container-fluid main">
        <div class="nav">
            <img class="img-fluid" alt="alight logo" src="../../src/images/alight.png" />
        </div>
        <div class="mx-5">
            <div class="content mb-3">
                <video id="vid" width="1100" height="620"  poster="../../src/images/video-fallback.png" onclick="this.paused?this.play():this.pause();">
                    <source src="../../src/videos/WYW_Accelerated.mp4" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
        <div class="footer">
            <div class="top" style="padding:9px 0;">
                <div class="link-row container">
                    <a href="./overview.html">Professional Services Overview</a>
                    <a href="./cloudOptimization.html">Cloud Optimization Overview</a>
                    <a href="./workdayDiagnostics.html" class="font-yellow">Workday Diagnostics</a>
                    <a href="./workdayDeploymentAccelerator.html">Workday Deployment Accelerator</a>
                    <a href="./testimonials.html">Customer Testimonial</a>
                </div>
            </div>
            <div class="bottom">
                <div class="link-row container">
                    <a href="../index.html" class="square">
                        <img class="img-fluid" src="../../src/images/Home.png" height="56" width="62"/>
                    </a>
                    <a href="../hrTransformation.html" class="square">
                        <img class="img-fluid" src="../../src/images/TeamDependents.png" height="60" width="70"/>
                    </a>
                    <a href="../health-cloud-solutions.html" class="square">
                        <img class="img-fluid" src="../../src/images/Health.png" height="49" width="60"/>
                    </a>
                    <a href="../wealth-cloud-solutions.html" class="square">
                        <img class="img-fluid" src="../../src/images/MoneyCost.png" height="64" width="60"/>
                    </a>
                    <a href="../payrollCloud.html" class="square">
                        <img class="img-fluid" src="../../src/images/Payroll.png" height="55" width="60"/>
                    </a>
                    <a href="../professionalServices.html" class="square">
                        <img class="img-fluid" src="../../src/images/CloudGear-Yellow.png" height="54" width="60"/>
                    </a>
                    <a href="./solutionsDemonstrations.html" class="square">
                        <img class="img-fluid" src="../../src/images/Benefits.png" height="53" width="60"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../../src/dist/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../src/dist/js/bootstrap.bundle.min.js"></script>
</html>