@import './dist/css/bootstrap.min.css';

@font-face {
    font-family: "FSThriveElliot";
    src: url("fonts/FSThriveElliot-Regular.otf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'FSThriveElliotBold';
    src: url("fonts/FSThriveElliot-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: 'FSThriveElliotBolditalic';
    src: url("fonts/FSThriveElliot-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'FSThriveElliotHeavy';
    src: url("fonts/FSThriveElliot-Heavy.otf") format("opentype");
    font-weight: 900;
}
@font-face {
    font-family: 'FSThriveElliotItalic';
    src: url("fonts/FSThriveElliot-Italic.otf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: 'FSThriveElliotLight';
    src: url("fonts/FSThriveElliot-Light.otf") format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'FSThriveElliotLightItalic';
    src: url("fonts/FSThriveElliot-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

.main {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    background-image: url(./images/alight-bg.jpg);
    background-repeat: no-repeat;
    padding: 0;
    font-family: "FSThriveElliot";
}
.nav{
    margin: 3rem 4rem;
}
.nav img{
    width: 175px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-yellow{
    color: rgba(255, 242, 0, 1) !important;
}
/* Non-Homepage Footer */
.footer{
    height: 224px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer .top{
    background: rgba(10, 32, 41, 0.3);
    height: 80px;
}
.footer .top .link-row{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.footer .top a {
    color:white;
    text-decoration: underline;
    font-family: 'FSThriveElliot';
    font-size: 22px;
}
.footer .top a:hover {
    color:rgba(255, 242, 0, 1);
    font-weight: 700;
}
.footer .bottom{
    height:166px;
    background-color: rgba(10, 32, 41, 0.9);
}
.footer .bottom .link-row{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.footer .bottom .square{
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    height: 95px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
