.content{
    max-width: 1500px;
}
.squares{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
}
.squares .square {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.squares .square .square-item{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    height: 255px;
    width: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.squares a{
    font-size: 32px;
    color: white;
}
.squares a:hover{
    color: rgba(252, 238, 33, 1);
    text-decoration: none;
}
.squares h2{
    margin-top: 1rem;
    text-align: center;
}
.footer{

}
#solutionsDemonstrations h2{
    font-size:1.4rem;
    margin-bottom: 2rem;
}
#solutionsDemonstrations .square-item{
    width: 300px;
}